* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
    height: 80px;
    background-color: #1A1751;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.logomarca {
    width: 200px;
    height: 80px;
}

.pesquisa {
    width: 338px;
    height: 25px;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size:16px;
    text-align: center;
    background-color: #000000;
    opacity: 0.47;
    color: white;
    border-radius: 0.3vw;
}
.login{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.carrinho{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.iconesNavbar{
    width: 120px;
    margin-left:50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
   }
.login-text{
    margin-top:0.4vw;
}
.carrinho-text{
    margin-top:0.4vw;
}